<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
                xmlns:sec="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Denied Page</title>
    <style>
        .fondo-rgb {
            background-color: rgba(191, 11, 11, 0.577); /* Rojo puro (255, 0, 0) */
            border-radius: 10px;
        }
    </style>
</head>
<body class="fondo-rgb">
    <h2>Accesso Denegado - Usted no cuenta con los permisos necesarios para acceder a esta pagina, contacte a su gerente o administrador</h2>
    
    <hr>
    <a th:href="@{/}">Back to Home Page</a>
    <hr>

    <form action="#" th:action="@{/logout}" method="POST">
        <input type="submit" value="logout">
    </form>
</body>
</html>