<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
                xmlns:sec="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Leaders Page</title>
</head>
<body>
    <h2>Bienvenido a Leaders Page </h2>
    <p>
        <span sec:authentication="principal.username"></span>
        <br><br>
        Role(s): <span sec:authentication="principal.authorities"></span>  
    </p>

    <hr>
    <a th:href="@{/}">Back to OPS</a>
    <hr>

    <form action="#" th:action="@{/logout}" method="POST">
        <input type="submit" value="logout">
    </form>
</body>
</html>